<footer class="footer">
	<div class="footer__links">
		<!-- <a href="#">Проектная декларация</a> -->
		<!-- <a href="#">Новости и акции</a> -->
	</div>
	
	<div class="footer__progress">
		<div class="footer-progress">
			<div class="footer-progress__line"><ins style="width: 0%;"></ins></div>
			
			<div class="footer-progress__count">0</div>
			<a href="progress.html">Динамика строительства</a>
		</div>
	</div>
	
	<div class="footer__socials">
		<a href="http://atlant-city.com/forum/">Форум владельцев</a>
		<!-- <a href="#" class="fb"><svg class="svg-icon"><use xlink:href="#svg-fb"></use></svg></a>
		<a href="#" class="vk"><svg class="svg-icon"><use xlink:href="#svg-vk"></use></svg></a> -->
		
		<div class="footer__copyright">© 2005—2014 ООО «Атлант-сити»</div>
	</div>
</footer>