<header class="header">
	<h1 class="logo"><a href="index.html"></a></h1>
	
	<nav class="navigation">
		<ul>
			<li><a href="about.html"><span>О комплексе</span></a></li>
			<li><a href="place.html"><span>Расположение</span></a></li>
			<li><a href="overview.html"><span>Обзор комплекса</span></a></li>
			<li><a class="navigation__disabled"> <!-- href="apartment.html" --> <span>Квартиры</span> <i>(Раздел в разработке)</i></a></li>
			<li><a href="comfort.html"><span>Комфорт</span></a></li>
			<li><a href="contacts.html"><span>Контактная информация</span></a></li>
		</ul>
	</nav>
	
	<div class="header__contacts">
		<div class="header__label">Офис продаж</div>
		<div class="header__phone">+7 (831) 429-07-81</div>
		
		<!-- <div class="header__links">
			<a href="#">
				<div>
					<svg viewBox="0 0 29 19" class="svg-icon"><use xlink:href="#svg-phone"></use></svg>
				</div>
				Заказать звонок
			</a>
			
			<a href="#">
				<div>
					<svg viewBox="0 0 25 18" class="svg-icon"><use xlink:href="#svg-mail"></use></svg>
				</div>
				Обратная связь
			</a>
			
		</div> -->
	</div>
	
	<div class="clearfix"></div>
</header>