h1 {
    color: $first-color;
    
    a {
        color: $second-color;
    }
}

a {
    text-decoration: none;
    color: $first-color;
}

.search {
    background: #ccc;
    
    &__input {
        width: 200px;
        height: 20px;
    }
    
    &__btn {
        background-color: $first-color;
    }
}