html, body {
    height:100%;
}

body {
    font: 13px/1.3 Arial, Helvetica, sans-serif;
    color: #000;
    -webkit-text-size-adjust: none;
}

body, input, textarea, button {
    -webkit-font-smoothing: antialiased;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ins {
    text-decoration: none;
}

.ghost {
    display: none;
    position: absolute;
    top: 6px;
    left: 9px;
    color: #fff;
}