// Default tag styles

html, body {
    height: 100%;
}

body {
    font: 16px/1.5 Roboto, Arial, Helvetica, sans-serif;
    color: @B900;
    background-color: #fff;
    -webkit-text-size-adjust: none;
}

body, input, textarea, button {
    -webkit-font-smoothing: antialiased;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ins {
    text-decoration: none;
}

strong, b {
	font-weight: 500;
}

h1 {

}